* {
	font-size:13px;
    font-family: "Malgun Gothic", serif;
}
table {
	border:1px solid #555; 
	padding:0px;
	margin:0px;
    border-collapse:collapse;
}
td {
	padding:0px;
	margin:0px;
	border:1px solid #555; 
	width:20px;
	height:20px;
	text-align:center;
}
.last_cl {
	background-color:red;
}
.pointer {
	cursor:pointer;
}
